.cdk-drag-preview {
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.document-component-list {
  min-height: 100px;
}

.add-component {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  font-size: large;
}
