<div class="p-3 m-1">
  <h1 class="fw-bold">In Document</h1>
  <hr>
  <div class="document-component-list" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (component of cardService.documentParts; track $index) {
      <div cdkDrag class="h-100">
        <app-card-part [cardTitle]="component.partTitle" (click)="setEdit($index)"/>
      </div>
    }
  </div>

  <h1 class="fw-bold m-1">Components</h1>
  <hr>
  @for (component of componentsDocument; track $index) {
    <app-card-part [cardTitle]="component.partTitle"/>
  }
</div>
