<div class="p-3 m-1">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="m-0 fw-bold">In Document</h1>
    <mat-icon
      class="text-dark"
      aria-hidden="false"
      fontIcon="info_outline"
      matTooltip="To reorder the components drag them"></mat-icon>
  </div>
  <hr>
  <div
    class="document-component-list"
    id="list-in-document"
    cdkDropList
    [cdkDropListConnectedTo]="['list-out-document']"
    [cdkDropListData]="cardService.documentParts"
    (cdkDropListDropped)="drop($event)"
    >
    @for (component of cardService.documentParts; track $index) {
      <div cdkDrag class="h-100">
        <app-card-part
          [cardTitle]="component.partTitle"
          (click)="setEdit($index, 'inDocument')"
          (editEmiter)="openDialog(cardService.documentParts[$index])"
          (deleteEmiter)="deletePart(cardService.documentParts, $index)"/>
      </div>
    }
  </div>

  <h1 class="fw-bold m-1">Components</h1>
  <hr>
  <mat-card class="m-2 add-component" (click)="openDialog()">
    <mat-card-content class="d-flex justify-content-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
       <span class="m-1">Create</span>
    </mat-card-content>
  </mat-card>
  <div
    class="document-component-list"
    id="list-out-document"
    cdkDropList
    [cdkDropListData]="cardService.unUsedComponents"
    [cdkDropListConnectedTo]="['list-in-document']"
    (cdkDropListDropped)="drop($event)"
    >
    @for (component of cardService.unUsedComponents; track $index) {
      <div cdkDrag class="h-100">
        <app-card-part
          [cardTitle]="component.partTitle"
          (click)="setEdit($index,'outDocument')"
          (editEmiter)="openDialog(cardService.unUsedComponents[$index])"
          (deleteEmiter)="deletePart(cardService.unUsedComponents,$index)"/>
      </div>
    }
  </div>
</div>
