<div class="p-3 m-1">
  <h1 class="fw-bold">In Document</h1>
  <hr>
  <div
    class="document-component-list"
    id="list-in-document"
    cdkDropList
    [cdkDropListConnectedTo]="['list-out-document']"
    [cdkDropListData]="cardService.documentParts"
    (cdkDropListDropped)="drop($event)"
    >
    @for (component of cardService.documentParts; track $index) {
      <div cdkDrag class="h-100">
        <app-card-part [cardTitle]="component.partTitle" (click)="setEdit($index)"/>
      </div>
    }
  </div>

  <h1 class="fw-bold m-1">Components</h1>
  <hr>
  <mat-card class="m-2 add-component" (click)="addNewComponent()">
    <mat-card-content class="d-flex align-items-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
       <span>Create</span>
    </mat-card-content>
  </mat-card>
  <div
    class="document-component-list"
    id="list-out-document"
    cdkDropList
    [cdkDropListData]="componentsDocument"
    [cdkDropListConnectedTo]="['list-in-document']"
    (cdkDropListDropped)="drop($event)"
    >
    @for (component of componentsDocument; track $index) {
      <div cdkDrag class="h-100">
        <app-card-part [cardTitle]="component.partTitle"/>
      </div>
    }
  </div>
</div>
