<mat-card class="m-1 d-flex flex-row justify-content-between align-items-center">

  <mat-icon cdkDragHandle class="m-1 dragger">drag_indicator</mat-icon>

  <mat-card-content>{{ cardTitle }}</mat-card-content>

  <div class="d-flex">
    <button mat-icon-button
      matTooltip="Edit"
      class="text-dark toggle-button"
      aria-label="Example icon-button with a heart icon"
      fontIcon="delete"
      (click)="editEmiter.emit()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button
      matTooltip="Delete"
      class="text-dark toggle-button"
      aria-label="Example icon-button with a heart icon"
      fontIcon="delete"
      (click)="deleteEmiter.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-card>
