<mat-card class="m-2 d-flex flex-row justify-content-between">
  <mat-card-content>{{ cardTitle }}</mat-card-content>

  <div class="d-flex">
    <button mat-icon-button
      matTooltip="Primary"
      class="text-dark toggle-button"
      aria-label="Example icon-button with a heart icon"
      fontIcon="delete"
      (click)="editEmiter.emit()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button
      matTooltip="Primary"
      class="text-dark toggle-button"
      aria-label="Example icon-button with a heart icon"
      fontIcon="delete"
      (click)="deleteEmiter.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</mat-card>
